
h1{
  color: rgb(255, 0, 0);
  font-size: 50px;
  text-shadow: 3px 3px 5px grey;
  font-weight: bold;
}
p{
  color: green;
  font-size: 20px;
  font-style: italic;
}
img{
  width: 400px;
  height: auto;
  border-radius: 10px;
}