.title{
    color: black;
    text-align: center;
    font-size: 40px;  
}
.myimage{
    width: 300px;
    height: auto;
    border: 5px solid black;
    border-radius: 15px;
}
.new_style{
    border-radius: 50%;
    border: 3px dashed blue;
    height: 500px;
    width: 400px;
}